<!-- Project Grid Section -->
<section class="portfolio">
    <div class="row">

        {% assign projects = (site.projects | sort: 'date') | reverse %}
        {% for item in projects %}

          {% assign num_project_hanging =  forloop.length | modulo: 3 %}
          {% if num_project_hanging == 0 %}
            <!-- no item hanging -->
            <div class="col-sm-4 col-xs-4 portfolio-item">
              {% include project_grid.html %}
            </div>

          {% elsif num_project_hanging == 1 %}
            <!-- one item hanging -->
            {% if forloop.rindex > 1 %}
              <div class="col-sm-4 col-xs-4 portfolio-item">
                {% include project_grid.html %}
              </div>

            {% else %}
              <div class="col-sm-4 col-xs-4 col-sm-offset-4 col-xs-offset-4 portfolio-item">
                {% include project_grid.html %}
              </div>

            {% endif %}

          {% else %}
            <!-- two items hanging -->
            {% if forloop.rindex > 2 %}
              <div class="col-sm-4 col-xs-4 portfolio-item">
                {% include project_grid.html %}
              </div>

            {% elsif forloop.rindex > 1 %}
              <div class="col-sm-4 col-xs-4 col-sm-offset-2 col-xs-offset-2 portfolio-item">
                {% include project_grid.html %}
              </div>

            {% else %}
              <div class="col-sm-4 col-xs-4 portfolio-item">
                {% include project_grid.html %}
              </div>

            {% endif %}

          {% endif %}

        {% endfor %}
    </div>
</section>
