---
layout: default
title: Blog
permalink: /blog/
feature-img: "assets/img/pexels/book-coffee.jpeg"
hide: false
pagination:
  enabled: true
---

<article {% if page.feature-img %}class="feature-image"{% endif %}>
  <header id="main" style="background-image: url('{{ site.baseurl }}/{{ page.feature-img }}')">
    <h1 id="{{ page.title | default: "" | cgi_escape }}" class="title">
        {{ page.title }}
    </h1>

    {% if page.subtitle %}
    <h2 class="subtitle">{{ page.subtitle }}</h2>
    {% endif %}
  </header>
</article>

<div class="post_page">

  <div class="posts">
    {% for post in paginator.posts reversed%}
    <div class="post-teaser">
      {% if post.thumbnail %}
      <div class="post-img">
         <img src="{{ site.baseurl }}/{{ post.thumbnail }}">
      </div>
      {% endif %}
      <span>
          <header>
            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                {{ post.title }}
              </a>
            </h2>
            <p class="meta">
              {{ post.date | date: "%B %-d, %Y" }}
            </p>
          </header>
          <div class="excerpt">
            {{ post.content | strip_html | truncate: "250" }}
            <!-- <a class="button" href="{{ post.url | prepend: site.baseurl }}">
              {{ site.theme_settings.str_continue_reading }}
            </a> -->
          </div>
      </span>
    </div>
    {% endfor %}
  </div>

  {% if paginator.page_trail %}
  <div class="pagination">
    {% for trail in paginator.page_trail %}
      <a href="{{ trail.path | prepend: site.baseurl }}" title="{{trail.title}}" class="button"
        {% if page.url == trail.path %} style="background-color:LightGrey;" {% endif %}>{{ trail.num }}
      </a>
    {% endfor %}
  </div>
  {% endif %}

</div>
